name: headscale

on:
  push:
    branches:
      - headscale

env:
  BUILD_VERSION: v0.27.1

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Aliyun Container Registry
        uses: docker/login-action@v2
        with:
          registry: registry.cn-qingdao.aliyuncs.com
          username: ${{ secrets.REGISTRY_USER_ALIYUN }}
          password: ${{ secrets.REGISTRY_PASSWORD_ALIYUN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push multi-platform image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./headscale/dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: |
            registry.cn-qingdao.aliyuncs.com/wod/headscale:${{ env.BUILD_VERSION }}
            ghcr.io/${{ github.repository_owner }}/headscale:${{ env.BUILD_VERSION }}
          build-args: |
            BASE=headscale/headscale:${{ env.BUILD_VERSION }}

      - name: Image build success
        run: echo "headscale:${{ env.BUILD_VERSION }} built and pushed to Aliyun and GHCR successfully!"
